
////////////////////////////////
// Object Tags

tag_customer = "selabtest"
tag_project = "selabtest"
tag_name = "selabtest"    # No Spaces
tag_dept = "selabtest"
tag_contact = "selabtest"
tag_application = "selabtest"
tag_ttl = "2"

////////////////////////////////
// Workstation Config

workstation_count = "2"       # Maximum of 99 due to AWS Load Balancer limits.
workstation_dns_prefix = "danf"   # Gets added the workstation public DNS - EX. PREFIX-workstation-1.chef-demo.com
workstation_user_password = "L0gDN4!"

////////////////////////////////
// lab Config
// 

lab_hostname = "lab.us-east-1.logdna.net"
lab_user_password = "L0gDN4!"

// NOTE: If you have an acm cert and r53 managed hosted zone, you
// can use chef_lab_alb.tf.example to build out an ALB with SSL
// and DNS via R53.
// ** You do not need to set custom ssl key and chain in this scenario **

lab_alb_acm_matcher = "*.logdna.net"
#lab_alb_r53_matcher = "logdna.net"
lab_alb_r53_matcher = "logdna.net"
